@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
// $font-1: 'Noto Sans TC';
$font-1: sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: $font-1;
    height: 100%;
    overflow: auto;
    background: #17202a;
}

#__next {
    height: 100%;
    overflow: auto;
}