.navBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: lightyellow;

    &__links {
        padding: 50px 30px;
        text-decoration: none;
        text-align: center;
    }

    &__home {
        background: linear-gradient(90deg, #8f94fb, #4e54c8);
        width: 50%;
        border-right: 1px solid black;
    }

    &__coinFlip {
        background: linear-gradient(90deg, #4e54c8, #8f94fb);
        width: 50%;
        border-left: 1px solid Black;
    }
}