.homePage {

    &__container {
        position: relative;
        width: 100%;
        height: 100vh;
        background: black;
        overflow: hidden;
    }

    &__tabs {

        input {
            visibility: hidden;
            display: none;
        }

    }

    .homePage__tabs input:nth-child(1):checked~.homePage__btns label:nth-child(1),
    .homePage__tabs input:nth-child(2):checked~.homePage__btns label:nth-child(2) {
        opacity: 1;
        width: 50px;
    }

    &__btns {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px;
        z-index: 10000;

        label {
            width: 20px;
            height: 20px;
            background: white;
            opacity: 0.5;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.5s;
        }
    }

    &__content {
        position: relative;
        width: 300vw;
        display: flex;
        transition: 0.5s;

        .box {
            position: relative;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            user-select: none;
            padding: 40px;

        }

        .box__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;

            h2 {
                font-size: 3em;
                color: white;
            }

            p {
                font-size: 1.2em;
                color: white;
                max-width: 700px;
                text-align: center;
            }

            button {
                font-size: 1.2em;
                text-decoration: none;
                text-transform: uppercase;
                padding: 15px 35px;
                color: white;
                letter-spacing: 0.05em;
                margin-top: 10px;
                font-weight: 600;
                border-radius: 40px;
                transition: 0.5s;
                border: 2px solid white;
            }

            button:hover {
                letter-spacing: 0.2em;
                opacity: 0.8;
            }

            .pickerWheelBtn {
                background: linear-gradient(90deg, #cf9ca6, #b20a2c);
            }

            .coinFlipBtn {
                background: linear-gradient(90deg, #4e54c8, #8f94fb);
            }
        }

    }

    .homePage__content .box:nth-child(1) {
        background: linear-gradient(90deg, #b20a2c, #cf9ca6);
        // background: linear-gradient(90deg, #ee9ca7, #ffdde1);
    }

    .homePage__content .box:nth-child(2) {
        background: linear-gradient(90deg, #8f94fb, #4e54c8);
    }

    .homePage__tabs input:nth-child(1):checked~.homePage__content {
        left: 0;
    }

    .homePage__tabs input:nth-child(2):checked~.homePage__content {
        left: -100vw;
    }

}